body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.navbar {
  font-family: "Montserrat Alternates", sans-serif;
}

#cart {
  color: mediumblue;
  margin-right: 1%;
}
#category {
  padding: 5% 6%;
}
.card:hover {
  box-shadow: 5px 10px 15px #5c5c5c;
}
.btn-direct {
  text-align: center;
  justify-content: space-between;
}
#product-cards {
  padding: 5% 10%;
}

#footer {
  margin-bottom: 2%;
  margin-top: 2%;
}
.filter-btns {
  text-align: center;
}
.filter-btn {
  background: none;
  border: none;
  font-family: inherit;
  text-transform: uppercase;
  display: inline-block;
  margin: 10px 30px;
  font-size: 16px;
  color: #d3d3d3;
  font-weight: 600;
  letter-spacing: 2px;
  position: relative;
}
.filter-btn::after {
  content: "";
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 0;
  background-color: #555;
  transition: all 0.2s ease-in-out;
}
.filter-btn:hover {
  color: #555;
}
.filter-btn:hover::after {
  width: 100%;
}

.canvas-title {
  text-align: center;
}

/*     Shopping Cart     */

.btn-purchase {
  text-align: center;
  margin: auto;
  padding: 2%;
  width: 50%;
}

#shopping-cart {
  padding: 5% 5%;
}

.cart-total {
  text-align: right;
  font-size: 1.3rem;
}

.backtotop {
  color: black;
  position: fixed;
  float: right;
  z-index: 1;
  left: 95%;
  top: 85%;
  font-size: 2rem;
}
